.mscbackup/*
TrpAndPiano/.mscbackup/.Bella_Ciao.mscz,
/**/.mscbackup/*
*.pdf
TrpAndPiano/.mscbackup/.What_Shall_We_Do_With_A_Drunken_Sailor_.mscz,
TrpAndPiano/.mscbackup/.What_Shall_We_Do_With_A_Drunken_Sailor_.mscz,
TrpAndPiano/.mscbackup/.What_Shall_We_Do_With_A_Drunken_Sailor_.mscz,
